body
{
    text-align: center;
}
.container{
  background-color: mediumaquamarine;  
}
#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: rgb(199, 130, 255);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}

b{
   font-size: x-large;
   color: aliceblue;
}

p{
    font-size: medium;
}
